menu "TinyUSB (esp32s2usb)"
    config TINYUSB_ENABLED
        bool "Enable TinyUSB driver"
        default n
        depends on IDF_TARGET_ESP32S2
        select FREERTOS_SUPPORT_STATIC_ALLOCATION
        select FREERTOS_USE_AUTHENTIC_INCLUDE_PATHS
        help
            Adds support for TinyUSB

    config TINYUSB_MAX_POWER_USAGE
        int "Max power usage from USB port"
        default 100
        depends on TINYUSB_ENABLED
        help
            Max power used by device from USB port in mA.

    config TINYUSB_CDC_ENABLED
        bool "Enable USB Serial (CDC) TinyUSB driver"
        default n
        depends on TINYUSB_ENABLED
        help
            Enable USB Serial (CDC) TinyUSB driver.

    config TINYUSB_CDC_RX_BUFSIZE
        int "CDC FIFO size of RX"
        default 64
        depends on TINYUSB_CDC_ENABLED
        help
            CDC FIFO size of RX

    config TINYUSB_CDC_TX_BUFSIZE
        int "CDC FIFO size of TX"
        default 64
        depends on TINYUSB_CDC_ENABLED
        help
            CDC FIFO size of TX

    config TINYUSB_MSC_ENABLED
        bool "Enable Mass Storage (MSC) TinyUSB driver"
        default n
        depends on TINYUSB_ENABLED
        help
            Enable MSC TinyUSB driver. It is recomended to use Menuconfig-driven descriptor (.descriptor = NULL and
            .string_descriptor = NULL in the tinyusb_config_t structure).

    config TINYUSB_MSC_BUFSIZE
        int "MSC Buffer size of Device Mass storage"
        default 512
        depends on TINYUSB_MSC_ENABLED
        help
            MSC Buffer size of Device Mass storage

    config TINYUSB_HID_ENABLED
        bool "Enable HID TinyUSB driver"
        default n
        depends on TINYUSB_ENABLED
        help
            Enable HID TinyUSB driver. It is recomended to use Menuconfig-driven descriptor (.descriptor = NULL and
            .string_descriptor = NULL in the tinyusb_config_t structure).

    config TINYUSB_HID_BUFSIZE
        int "HID buffer size Should be sufficient to hold ID (if any) + Data"
        default 16
        depends on TINYUSB_HID_ENABLED
        help
            HID buffer size Should be sufficient to hold ID (if any) + Data

    config TINYUSB_MIDI_ENABLED
        bool "Enable MIDI TinyUSB driver"
        default n
        depends on TINYUSB_ENABLED
        help
            Enable MIDI TinyUSB driver. It is recomended to use Menuconfig-driven descriptor (.descriptor = NULL
            and .string_descriptor = NULL in the tinyusb_config_t structure).

    config TINYUSB_MIDI_RX_BUFSIZE
        int "MIDI FIFO size of RX"
        default 64
        depends on TINYUSB_MIDI_ENABLED
        help
            MIDI FIFO size of RX

    config TINYUSB_MIDI_TX_BUFSIZE
        int "MIDI FIFO size of TX"
        default 64
        depends on TINYUSB_MIDI_ENABLED
        help
            MIDI FIFO size of TX

    config TINYUSB_VENDOR_ENABLED
        bool "Vendor class TinyUSB driver"
        default n
        depends on TINYUSB_ENABLED
        help
            Enable USB vendor TinyUSB driver. Currently used by webusb driver.

    config TINYUSB_VENDOR_RX_BUFSIZE
        int "Vendor FIFO size of RX"
        default 64
        depends on TINYUSB_VENDOR_ENABLED
        help
            Vendor FIFO size of RX

    config TINYUSB_VENDOR_TX_BUFSIZE
        int "Vendor FIFO size of TX"
        default 64
        depends on TINYUSB_VENDOR_ENABLED
        help
            Vendor FIFO size of TX

    config TINYUSB_CUSTOM_CLASS_ENABLED
        bool "Enable a custom TinyUSB class"
        default n
        depends on TINYUSB_ENABLED
        help
            Enable a custom TinyUSB class. It is recomended to use Menuconfig-driven descriptor (.descriptor = NULL
            and .string_descriptor = NULL in the tinyusb_config_t structure).

    config TINYUSB_DEBUG
        bool "Debug mode"
        default n
        depends on TINYUSB_ENABLED
        help
            Debug mode

    menu "Descriptor configuration"
        config TINYUSB_USB_VENDOR_ID
            hex "USB Descriptor Vendor ID"
            default 0x303A
            depends on TINYUSB_ENABLED
            help
                This is used in the USB Descriptor for the device. The default value of 0x303A is the Espressif ID.

        config TINYUSB_DESC_BCDDEVICE
            hex "USB Descriptor BCD Device"
            default 0x0100
            depends on TINYUSB_ENABLED
            help
                Version of the firmware of the USB device

        config TINYUSB_MSC_VENDOR_ID
            string "MSC Vendor ID"
            default "TinyUSB"
            depends on TINYUSB_MSC_ENABLED

        config TINYUSB_MSC_PRODUCT_ID
            string "MSC Product ID"
            default "TinyUSB Disk"
            depends on TINYUSB_MSC_ENABLED

        config TINYUSB_MSC_PRODUCT_REVISION
            string "MSC Product revision"
            default "1.00"
            depends on TINYUSB_MSC_ENABLED
    endmenu

endmenu
